<link rel="stylesheet" href="../styles/bootstrap.min.css">
<link rel="stylesheet" href="../styles/test.css">
<div class="container-fluid">
  <form class="product-add" id="product-add">

    <!--row[0] start-->
    <div class="row">
      <div class="col-lg-1"></div>

      <!--input:商品名称 start-->
      <div class="form-group form-group-lg col-lg-4">
        <label for="P_name" class="sr-only">商品名称</label>
        <div class="input-group">
          <div class="input-group-addon input-title">商 品 名 称</div>
          <input type="text" class="form-control" name="P_name" id="P_name">
        </div>
      </div>
      <!--input:商品名称 end-->

      <!--input:条形码 start-->
      <div class="form-group form-group-lg col-lg-4">
        <label for="P_barCode" class="sr-only">商品条码</label>
        <div class="input-group">
          <div class="input-group-addon input-title">条 形 码</div>
          <input type="text" class="form-control" name="P_barCode" id="P_barCode">
        </div>
      </div>
      <!--input:条形码 end-->

      <!--input:速查简写 start-->
      <div class="form-group form-group-lg col-lg-2">
        <label for="P_shortName" class="sr-only">速查缩写</label>
        <div class="input-group">
          <div class="input-group-addon input-title">速 查 缩 写</div>
          <input type="text" class="form-control" name="P_shortName" id="P_shortName">
        </div>
      </div>
      <!--input:速查简写 end-->

      <div class="col-lg-1"></div>
    </div>
    <!--row[0] end-->

    <!--row[1] start-->
    <div class="row">
      <div class="col-lg-1"></div>

      <!--input:商品品牌 start-->
      <div class="form-group form-group-lg col-lg-4">
        <label for="P_brand" class="sr-only">品牌</label>
        <div class="input-group">
          <div class="input-group-addon input-title">品 牌</div>
          <input type="text" class="form-control" name="P_brand" id="P_brand">
        </div>
      </div>
      <!--input:商品品牌 end-->

      <!--select:分类 start-->
      <div class="form-group form-group-lg col-lg-2">
        <label for="P_category" class="sr-only">商品类型</label>
        <div class="input-group">
          <div class="input-group-addon input-title">商 品 类 型</div>
          <select class="form-control" name="P_category" id="P_category" placeholder="请选择...">
            <option hidden class="select-default">"默认值"</option>
            <option value="1">aa</option>
          </select>
        </div>
      </div>
      <!--input:分类 end-->

      <!--input:单位 start-->
      <div class="form-group form-group-lg col-lg-2">
        <label for="P_unitMain" class="sr-only">单位</label>
        <div class="input-group">
          <div class="input-group-addon input-title">单 位</div>
          <input type="text" class="form-control" name="P_unitMain" id="P_unitMain">
        </div>
      </div>
      <!--input:单位 end-->

      <!--input:辅助单位开关 start-->
      <div class="form-group form-group-lg col-lg-2">
        <label for="P_useUnitHelp" class="sr-only">辅助单位开关</label>
        <div class="input-group">
          <div class="input-group-addon input-title">辅单位开关</div>
          <span id="P_useUnitHelp">
          <div class="input-group-btn">
            <button class="input-group-btn btn-info form-control visible-lg-inline-block" type="button" name="P_useUnitHelp" value="true">启用</button>
          </div>
          <div class="input-group-btn">
            <button class="input-group-btn btn-info form-control visible-lg-inline-block" type="button" name="P_useUnitHelp" value="false">禁用</button>
          </div>
          </span>
        </div>
      </div>
      <!--input:辅助单位开关 end-->

      <div class="col-lg-1"></div>
    </div>
    <!--row[1] end-->

    <!--row[2] start-->
    <div class="row">
      <div class="col-lg-1"></div>

      <!--input:辅助单位 start-->
      <div class="form-group form-group-lg col-lg-2">
        <label for="P_unitHelp" class="sr-only">辅助单位</label>
        <div class="input-group">
          <div class="input-group-addon input-title">辅 助 单 位</div>
          <input type="text" class="form-control" name="P_unitHelp" id="P_unitHelp">
        </div>
      </div>
      <!--input:辅助单位 end-->

      <!--input:单位比例 start-->
      <div class="form-group form-group-lg col-lg-2">
        <label for="P_timesForMainUnit" class="sr-only">单位比例</label>
        <div class="input-group">
          <div class="input-group-addon input-title"> 1 主单位等于 </div>
          <input type="number" class="form-control" name="P_timesForMainUnit" id="P_timesForMainUnit">
          <div class="input-group-addon input-title">辅单位</div>
        </div>
      </div>
      <!--input:单位比例 end-->

      <!--input:辅单位条形码 start-->
      <div class="form-group form-group-lg col-lg-4">
        <label for="P_unitHelp_barCode" class="sr-only">辅单位条码</label>
        <div class="input-group">
          <div class="input-group-addon input-title">辅 单 位 条 码</div>
          <input type="text" class="form-control" name="P_unitHelp_barCode" id="P_unitHelp_barCode">
        </div>
      </div>
      <!--input:辅单位条形码 end-->

      <!--input:辅单位售价 start-->
      <div class="form-group form-group-lg col-lg-2">
        <label for="P_unitHelp_price" class="sr-only">辅单位售价</label>
        <div class="input-group">
          <div class="input-group-addon input-title">辅单位售价</div>
          <input type="text" class="form-control" name="P_unitHelp_price" id="P_unitHelp_price">
          <div class="input-group-addon input-title">元</div>
        </div>
      </div>
      <!--input:辅单位售价 end-->

      <div class="col-lg-1"></div>
    </div>
    <!--row[2] end-->

    <!--row[3] start-->
    <div class="row">
      <div class="col-lg-1"></div>

      <!--input:商品规格 start-->
      <div class="form-group form-group-lg col-lg-4">
        <label for="P_spec" class="sr-only">商品规格</label>
        <div class="input-group">
          <div class="input-group-addon input-title">规 格</div>
          <input type="text" class="form-control" name="P_spec" id="P_spec">
        </div>
      </div>
      <!--input:商品规格 end-->

      <!--input:初始数量 start-->
      <div class="form-group form-group-lg col-lg-2">
        <label for="P_quantityAtStart" class="sr-only">初始数量</label>
        <div class="input-group">
          <div class="input-group-addon input-title">初始数量</div>
          <input type="number" class="form-control" name="P_quantityAtStart" id="P_quantityAtStart">
        </div>
      </div>
      <!--input:初始数量 end-->

      <!--input:成本价 start-->
      <div class="form-group form-group-lg col-lg-2">
        <label for="P_costPrice" class="sr-only">成本单价</label>
        <div class="input-group">
          <div class="input-group-addon input-title">成 本 单 价</div>
          <input type="text" class="form-control" name="P_costPrice" id="P_costPrice">
          <div class="input-group-addon input-title">元</div>
        </div>
      </div>
      <!--input:成本价 end-->

      <!--input:销售单价 start-->
      <div class="form-group form-group-lg col-lg-2">
        <label for="P_sellingPrice" class="sr-only">销售单价</label>
        <div class="input-group">
          <div class="input-group-addon input-title">销 售 单 价</div>
          <input type="text" class="form-control" name="P_sellingPrice" id="P_sellingPrice">
          <div class="input-group-addon input-title">元</div>
        </div>
      </div>
      <!--input:销售单价 end-->

      <div class="col-lg-1"></div>
    </div>
    <!--row[3] end-->

  </form>
</div>

<script src="../libs/jquery/dist/jquery.min.js"></script>
<script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
