<form id="edit-product" class="product-info product-info-view">

  <div class="row">

    <div class="col-lg-4">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;条&nbsp;形&nbsp;码&nbsp;</span>
        <input name="P_barcode" type="text" placeholder="条形码" class="form-control"/>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;货&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号&nbsp;</span>
        <input name="P_NO" type="text" class="form-control"/>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌&nbsp;</span>
        <input name="P_brand" type="text" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">商品名称</span>
        <input name="P_name" type="text" class="form-control"/>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">快捷简码</span>
        <input name="P_py" type="text" class="form-control"/>
      </div>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-lg-3">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">计价单位</span>
        <input name="P_mainUnit" type="text" class="form-control"/>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">是否启用辅助单位</span>
        <div role="group" class="btn-group btn-group-lg">
          <button type="button" class="btn btn-primary btn-lg">
            <a id="use-helpUnits" href="#">&nbsp;&nbsp;&nbsp;启&nbsp;&nbsp;用&nbsp;&nbsp;</a>
          </button>
          <button type="button" class="btn btn-danger btn-lg">
            <a id="no-helpUnits" href="#">&nbsp;&nbsp;停&nbsp;&nbsp;用&nbsp;&nbsp;&nbsp;</a>
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;换&nbsp;&nbsp;&nbsp;算&nbsp;</span>
        <input name="P_unitChange" type="text" class="form-control"/>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">辅助单位</span>
        <input name="P_helpUnit" type="text" class="form-control"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;进&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价&nbsp;</span>
        <input name="P_price" type="number" class="form-control"/>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">是否启用辅助条码</span>
        <div role="group" class="btn-group btn-group-lg">
          <button type="button" class="btn btn-primary btn-lg">
            <a id="helpUnits-true" href="#">&nbsp;&nbsp;&nbsp;启&nbsp;&nbsp;用&nbsp;&nbsp;</a>
          </button>
          <button type="button" class="btn btn-danger btn-lg">
            <a id="helpUnits-false" href="#">&nbsp;&nbsp;停&nbsp;&nbsp;用&nbsp;&nbsp;&nbsp;</a>
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;条&nbsp;&nbsp;&nbsp;码&nbsp;</span>
        <input name="P_helpBarcode" type="text" class="form-control"/>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="input-group input-group-lg"><span class="input-group-addon">辅助进价</span>
        <input name="P_helpPrice" type="text" class="form-control"/>
      </div>
    </div>
  </div>
  <hr/>

  <div class="row">
    <div class="col-lg-6">
      <div class="input-group input-group-lg"><span
        class="input-group-addon">&nbsp;售&nbsp;&nbsp;&nbsp;价&nbsp;</span>
        <input name="P_price_main" type="text" class="form-control"/>
        <span class="input-group-addon">元</span>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">辅助单位售价</span>
        <input name="P_price_help" type="text" class="form-control"/>
        <span class="input-group-addon">元</span>
      </div>
    </div>
  </div>

  <hr/>

  <div class="row">

    <div class="col-lg-6">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">&nbsp;库&nbsp;&nbsp;&nbsp;存&nbsp;</span>
        <input name="P_haveYet" type="number" class="form-control"/>
      </div>
    </div>

    <div class="col-lg-6">
      <div role="group" aria-label="..." class="btn-group btn-group-lg btn-toolbar">
        <button class="btn btn-lg btn-primary">供应商</button>
        <button class="btn btn-lg btn-primary">大客户</button>
        <button class="btn btn-lg btn-primary">报&nbsp;&nbsp;&nbsp;&nbsp;表</button>
      </div>
    </div>
  </div>

  <div class="row">
  </div>

  <div class="row">

    <div class="col-lg-3">
    </div>

    <div class="col-lg-3">
      <button id="formSubmit" class="form-control btn btn-success formbtn">
        &nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;</button>
    </div>

    <div class="col-lg-3">
      <button id="formQuit" class="form-control btn btn-success formbtn">
        &nbsp;退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出&nbsp;</button>
    </div>

  </div>
</form>
