@import "switch-btn.css";
 
@font-face {
  font-family: 'FontAwesome';
  src: url('../libs/font-awesome/fonts/fontawesome-webfont.eot?v=4.6.1');
  src: url('../libs/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.6.1') format('embedded-opentype'), url('../libs/font-awesome/fonts/fontawesome-webfont.woff2?v=4.6.1') format('woff2'), url('../libs/font-awesome/fonts/fontawesome-webfont.woff?v=4.6.1') format('woff'), url('../libs/font-awesome/fonts/fontawesome-webfont.ttf?v=4.6.1') format('truetype'), url('../libs/font-awesome/fonts/fontawesome-webfont.svg?v=4.6.1#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  border-image-width: 0;
  border: none;
  padding: 0;
  margin: 0;
  font-family: Verdana, FontAwesome, sans-serif, "Microsoft YaHei", "微软雅黑";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Source Code Pro Light", "Lucida Sans Unicode", serif;
  font-size: 1vw;
}

html, body{
  height: 100%;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
/*
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder
{
  color: red !important;
}*/

.container-fluid {
  color: #d9d9d9;
  height: 100%;
  background: linear-gradient(45deg, black, #353535) no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.navbar {
  font-size: 1.2rem;
  font-weight: 500;
}
.nav a, .navbar a {
  font: inherit;
}

.nav {
  background: #8c8c8c;
  font: inherit;
}

.navbar-btn a {
  color: #134c5d;
  font-size: 1.3rem;
  font-weight: 500;
}

.navbar .btn-danger {
  margin-left: 1rem;
}

.side-menu {
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem auto;
  background-color: #181e1f;
  box-shadow: 0.3rem 0.3rem 0.5rem #000;
}

.menu-list {
  padding: 0;
  margin: 1rem auto;
}

.menu-list:before {
  content: '';
}

*:before,
*:after {
  clear: both;
}

.sidebar-title {
  text-align: center;
}

.side-menu .item-a{
  display: block;
  width:100%;
  height: 100%;
}

.side-menu .side-item {
  display: block;
  height: 4rem;
  text-align: center;
  background-color: #3c3c3c;
  margin-bottom: 1px;
  box-shadow: inset 0 0 #191919;
  transition: all 0.5s ease;
}

.side-menu .side-item:hover{
  background-color: #4c4c4c;
  box-shadow: inset 0 0 0.5rem #191919;
}

.side-menu .side-item .menu-text{
  font-size: 2rem;
  line-height:4rem;
  color: #acacac;
  font-weight: 100;
  text-shadow: 0 0 #000;
  transition: all 0.5s;
}
.side-menu .side-item:hover .menu-text{
  text-shadow: 0.3rem 0.3rem 0.5rem #000;
}

.for-sideBarInput {
  display: inline-block;
  width: 35%;
}

.for-sideBarInput + input {
  display: inline-block;
  border: none;
  padding: 0;
  width: 62%;
  border-radius: 0.5rem;
}

.product-search {
  width: 50%;
  margin: 0 16px;
}

.input-group-addon{
  background-color: lightgrey;
}

.project-input,
.product-info-view input,
.product-info-view select{
  background-color: #bfbfbf;
  font-weight: bold;
  border: none;
  box-shadow: inset 0 0 rgba(24, 111, 105, 0.6);
  transition: all 0.5s ease;
}

.project-input:hover,
.project-input:focus,
.product-info-view input:hover,
.product-info-view input:focus,
.product-info-view select:hover,
.product-info-view select:focus {
  box-shadow: inset 0 0 2rem rgba(24, 111, 105, 0.6);
  background-color: #cccccc;
}

.form-control::-moz-placeholder {
  color: #333333;
  opacity: 0.5;
  font-weight: 500;
  text-align: center;
}

.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder,
.form-control:-moz-placeholder{
  color: #333333;
  opacity: 0.5;
  font-weight: 500;
  text-align: center;
}

.table-box{
  margin-top: 4rem;
  border-radius: 1rem;
  overflow: hidden;
}
.list {
  width: 100%;
  background-color: #181e1f;
  box-shadow: 0.3rem 0.3rem 0.5rem #000;
}

.option-default {
  display: none;
}

.list > thead {
  background-color: #3c3c3c;
}
.list > thead th {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  color: #FFF;
  line-height: 2rem;
}

.list > tbody tr:hover{
  background-color: #7f7f7f;
}

.list > tbody td {
  text-align: center;
  color: #dcdcdc;
  font-size: 1rem;
  line-height: 1.5rem;
}

.list > tbody td.item-name{
  text-align: left;
}

.item-name:before{
  content: '';
  display: inline-block;
  width: 35%;
}

/************         Style start!!!      ***      For views: 'product.add.html'          ************/

.input-group .input-title{
  width: 40%;
}

.input-group, .input-group-addon{
  font-size: 1vw;
}

.form-group .input-group{
  width:100%;
}

#P_isUseHelpUnit>div{
  display: block;
  width: 100%;
  height: 100%;
}

#P_isUseHelpUnit .radio-home{
  position: relative;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
  float: left;
}

.radio-home .form-control[value="true"]{
  border-radius: 0;
}
input[type="radio"]{
  margin: 0;
}
input{
  font-size: 1vw;
}
.form-control{
  font-size: 1vw;
}
.radio-switch{
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  z-index: 9999;
  opacity: 0;
}
.radio-switch + button{
  font-weight: normal;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 #28a1c5;
}

.radio-switch:checked + button,
.radio-switch:hover + button{
  font-weight: bold;
  box-shadow: inset 0 0 2rem #0891a5;
}

#P_isUseHelpUnit .radio-home input,
#P_isUseHelpUnit .radio-home .btn{
  width: 100%;
  height: 100%;
}

/************         Style end!!!      ***      For views: 'product.add.html'          ************/

.l-to-r{
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, black, red)
}